<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">  
        <a class="navbar-brand" href="/">paths.earth</a>  
        <ul class="navbar-nav ml-auto">
            <li class='nav-item'>
                <a class='nav-link' routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link login' routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <div class="dropdown" ngbDropdown role="group" aria-label="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>Name</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/login">Logout</a>
                </div>
            </div>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 1em;">
        <router-outlet></router-outlet>
    </div>
</div>